<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Default title</title>
    

    <link href="/webjars/bootstrap/3.3.6/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/bbstats.css"/>
</head>
<body>


<!-- 
<div sec:authorize="isAuthenticated()">
    You are logged in as <b sec:authentication="name" /> with roles <span sec:authentication="authorities" />
    -
    <form th:action="@{/logout}" method="post" style="display: inline-block">
        <input type="submit" value="Sign Out" />
    </form>
    <hr/>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    You are an administrator
</div>
-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BBStats</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li sec:authorize="isAuthenticated()">
       	<a href="#" id="logout">Log out</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
        <a href="/login">Log in</a>
        </li>
    </ul>
  </div>
</nav>
<form th:action="@{/logout}" method="post" style="display: none;" id="signout-form">
        <input type="submit" value="Sign Out" id="signout-button"/>
    </form>


<section layout:fragment="content">
    <p>Page content goes here</p>
</section>

<script src="/webjars/jquery/2.1.4/jquery.js"></script>

 <script type="text/javascript" src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 <script type="text/javascript" src="/js/bbstats.js"></script>

</body>
</html>