<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Update Player</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="C:\dev-tools\github\bbstats\src\main\webapp\css\bbstats.css"/>

</head>
<body>
	<div class="container" layout:fragment="content">
		<form class="form-bbstats form-bbstats-small form-horizontal" th:action="@{/player/update}" th:object="${form}" method="post">
			<h2 class="form-bbstats-heading">Update a player</h2>
			<div id="errorMessage" th:if="${param.error}">
				
			</div>
			
			<input th:field="${form.id}" id="id" type="hidden" class="form-control"/>
			
			<div class="form-group">
				<label for="name" class="control-label col-sm-2">Name</label>
				<div class="col-sm-10"> 
					<input th:field="${form.name}" id="name" type="text" class="form-control" th:errorclass="input-error"/>
					<span th:errors="*{name}" class="field-error"> Error</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="dateOfBirth" class="control-label col-sm-2">Date of Birth</label>
				<div class="col-sm-10"> 
					<input th:field="${form.dateOfBirth}" id="dateOfBirth" type="text" class="form-control" th:errorclass="input-error"/>
					<span th:errors="*{dateOfBirth}" class="field-error"> Error</span>
				</div>
			</div>
			
			
			
			<div class="form-group">
				<label for="position" class="control-label col-sm-2">Position</label>
				<div class="col-sm-10"> 
					<select name="position" class="form-control" th:errorclass="input-error">
					  <option 
					  th:each="position : ${T( online.bbstats.repository.domain.Position).values()}" 
					  th:value="${position}" 
					  th:text="#{__${position.value}__}" 
					  th:selected="${position == form.position}">option
					  </option>
					</select>
					<div th:errors="*{position}" class="field-error"> Error</div>
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary btn-lg" style="padding-left: 20px; padding-right: 20px;" type="submit"
					name="action">Submit</button>
			</div>

		</form>
	</div>
</body>
</html>