<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head lang="en">
<title>View Teams</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="C:\dev-tools\git-checkout\bbstats\src\main\webapp\css\bbstats.css"/>

</head>
<body>

	<div class="container" layout:fragment="content">
	<h1>Scoresheet</h1>
	<h2 th:text="${scoresheet.visitingTeam.name}">Visiting team</h2>
	<h2 th:text="${scoresheet.homeTeam.name}">Home team</h2>

			<table class="table table-bordered">
			<thead>
				<tr>
					<th>Line-up order</th>
					<th>Position</th>
					<th>Name</th>
				
				</tr>
				</thead>
				<tbody>
				<tr >
					<td >1</td>
					<td >C</td>
					<td >Fred Smith</td>
					
				</tr>
				<tr >
					<td >2</td>
					<td >SS</td>
					<td >Ralph Brown</td>
					
				</tr>
				</tbody>
			</table>
		</div>

</body>
</html>