<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Update Team</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="C:\dev-tools\github\bbstats\src\main\webapp\css\bbstats.css"/>

</head>
<body>
	<div class="container" layout:fragment="content">
		<form class="form-bbstats form-bbstats-small form-horizontal" th:action="@{/team/update}" method="post" th:object="${form}">
			<h2 class="form-bbstats-heading">Update a team</h2>
			<div id="errorMessage" th:if="${param.error}">
			</div>
			
			<input th:field="${form.id}" id="id" type="hidden" class="form-control"/>
			
			<div class="form-group">
				<label for="name" class="control-label col-sm-2" >Name</label>
				<div class="col-sm-10 controls"> 
					<input th:field="${form.name}" id="name" type="text" th:errorclass="input-error" class="form-control"/>
					<span th:errors="*{name}" class="field-error"> Error</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="league" class="control-label col-sm-2">League</label>
				<div class="col-sm-10"> 
				 	<select id="league" th:field="${form.league}" class="form-control" th:errorclass="input-error">
		                <option value="">Select</option>
		                <option th:each="league : ${leagues}" th:value="${league.id}"  th:text="${league.name}"></option>
		            </select>
					<span th:errors="*{league}" class="field-error">Error</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="city" class="control-label col-sm-2">City</label>
				<div class="col-sm-10"> 
					<input th:field="${form.city}" id="city" type="text"  th:errorclass="input-error" class="form-control" />
					<span th:errors="*{city}" class="field-error"> Error</span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="state" class="control-label col-sm-2">State</label>
				<div class="col-sm-10"> 
					<input th:field="${form.state}"  id="state" type="text" th:errorclass="input-error" class="form-control" />
					<span th:errors="*{state}" class="field-error"> Error</span>
				</div>
			</div>
			
			<div class="form-actions">
				<button class="btn btn-primary btn-lg" style="padding-left: 20px; padding-right: 20px;" type="submit"
					name="action">Submit</button>
				</div>
			</form>
		</div>
		

</body>
</html>