<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head lang="en">

<link rel="stylesheet" type="text/css" href="C:\dev-tools\github\bbstats\src\main\webapp\css\bbstats.css"/>

<title>User Admin</title>
</head>
<body>

	<div class="container" layout:fragment="content">
 	 <div class="centerBlock">
		<h1>User Admin</h1>
				<p><a href="/user/create">Create a new user</a></p>
	        	<p><a href="/users">View all users</a></p>
		</div>
	</div>

</body>
</html>